<%- include('./partials/head') %>

    <body>
        <h1>These are my favorite TV Shows</h1>
        <ol>
            <% for (const show of favTVShows) { %>
                <li>
                    <%= show %>
                </li> %>
                <% } %>
        </ol>
    </body>

    </html>