<%- include('./partials/head') %>

    <body>
        <h1>
            This is my first express app
        </h1>
        <p>Just a simple paragraph. Nothing going on here yet!!</p>
        <p>Except for this cool EJS <%= 10 + 10 %>
        </p>
    </body>

    <%- include('./partials/footer') %>