<%- include('./partials/head') %>

    <body>
        <h1>
            <%= author %>
        </h1>
        <p>
            <%= content %>
        </p>
        <a href="/tweets/new">Create a new tweet!</a>
    </body>
    <%- include('./partials/footer') %>